* {
  box-sizing: border-box; }
  *:before, *:after {
    box-sizing: border-box; }

body {
  font-family: "Noto Sans", sans-serif;
  line-height: 1.8;
  color: #666; }
/*header*/
.header {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  min-height: 56px;
  transition: min-height 0.3s;
}

.header__inner {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.header__logo {
  height: 72px;
  margin-right: 1em;
  vertical-align: top;
  margin-top: 12px;
}

.header__title {
  font-weight: 300;
  font-size: 4em;
  margin-right: 10%;
  display: inline-block;
  color: #212121;
  float:right ;
}
/*nav*/
.nav {
  width: 100;
  margin-left: auto;
  margin-right: auto;
}

.nav__list {
  width: 100%;
  padding: 0;
  margin: 0;
}

.nav__item {
  box-sizing: border-box;
  display: inline-block;
  width: 24%;
  text-align: center;
  line-height: 24px;
  padding: 24px;
  text-transform: uppercase;
  min-width: 48px;
  min-height: 48px;
}

.nav a {
  text-decoration: none;
  color: #616161;
  padding: 1.5em;
}

.nav a:hover {
  text-decoration: underline;
  color: #212121;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Hind, sans-serif;
  color: #333;
  margin: 2em 0 1em; }

a {
  text-decoration: none;//这个属性允许对文本设置某种效果，
  color: #9999ff; }

.site-content {
  width: 990px;
  max-width: 100%;
  margin: 0 auto;
  padding: 100px 0; }
  .site-content:after {
    content: " ";
    display: block;
    clear: both; }

.section-title {
  text-align: center;/*居中对齐*/
  text-transform: uppercase; }/*大写*/

.columns:after {
  content: " ";
  display: block;
  clear: both; }

.columns .column {
  width: 50%;
  float: left; }
.columns .column2 {
    width: 50%;
    float: right; }
.columns h2 {
  margin-bottom: 20px;/*demo标题下边距*/
  line-height: 1; }

.columns p {
  text-align: center;
  margin-bottom: 50px; }

.project {
  width: 90%;
  float: left; }
  .project:not(:last-child) {
    margin-right: 4%; }
  .project-list:after {
    content: " ";
    display: block;
    clear: both; }
  .project__image {
    display: block;
    position: relative; }/*相对定位*/
    .project__image img {
      width: 100%;
      max-width: 100%;
      height: auto;
      display: block; }
    .project__image:after {
      content: " ";
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4));
      transition: opacity .3s ease;/*3秒动画逐渐慢下来*/
      opacity: 0; }/*透明*/
  .project__card {
    position: relative;
    will-change: transform;
    transition: box-shadow .3s ease;
    box-shadow: 0 10px 30px transparent; }
    .project__card.hover-in {
      transition: -webkit-transform .2s ease-out;
      transition: transform .2s ease-out;
      transition: transform .2s ease-out, -webkit-transform .2s ease-out; }
    .project__card.hover-out {
      transition: -webkit-transform .2s ease-in;
      transition: transform .2s ease-in;
      transition: transform .2s ease-in, -webkit-transform .2s ease-in; }
  .project:hover .project__card {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4); }
  .project:hover .project__image:after {
    opacity: 1; }
  .project:hover .project__detail {
    border-width: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4); }
  .project:hover .project__title, .project:hover .project__category {
    -webkit-transform: translateY(0) scale(1);
        -ms-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
    opacity: 1; }
  .project__detail {
    position: absolute;
    left: 30px;
    right: 30px;
    top: 30px;
    bottom: 30px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    pointer-events: none;
    -webkit-transform: translateZ(30px);
            transform: translateZ(30px);
    border: 0 solid #00BCD4;
    transition: border .4s ease; }
  .project__title {
    margin: 0 0 10px;
    font-size: 36px;
    font-weight: 700;
    transition: .4s ease;
    opacity: 0;
    -webkit-transform: translateY(40px) scale(0);
        -ms-transform: translateY(40px) scale(0);
            transform: translateY(40px) scale(0);
    will-change: transform; }
    .project__title a {
      color: white; }
  .project__category {
    opacity: 0;
    transition: .4s ease;
    transition-delay: .1s;
    -webkit-transform: translateY(40px) scale(0);
        -ms-transform: translateY(40px) scale(0);
            transform: translateY(40px) scale(0);
    will-change: transform; }
    .project__category a {
      color: rgba(255, 255, 255, 0.8);
      font-size: 1.3em; }
/*footer*/
.tm-copyright-text {
	background-color: rgba(0, 0, 0, 0.2);
	color: black;
    font-size: 1.8rem;
    font-weight: 400;
	text-align: center;
    padding: 30px;
    width: 100%;
}

.tm-copyright-text a {
	color: black;
}